/* Add CSS Styling */
.number1 {
  background-color: pink;
  font-family: Verdana, Dejavu-Sans, sans-serif;
}
#number2 {
  color: blue;
  font-size: 36px;
}
.number3 {
  background-color: pink;
  font-size: 24px;
  font-family: Verdana, Dejavu-Sans, sans-serif;
}
#number4 {
  background-color: lightgreen;
  font-size: 24px;
  font-weight: bold;
}
.number5 {
  background-color: pink;
  font-family: Verdana, Dejavu-Sans, sans-serif;
}